html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#bg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}
#btn {
    width: 20dvw;
    height: 20dvw;
    border-radius: 20%;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    border: none;
    background: #000;
    box-shadow: 2px 2px 5px #fff, -2px 2px 5px #fff, -2px -2px 5px #fff, 2px -2px 5px #fff;
}